**1. Imagine there is a file full of Twitter tweets by various users and you are provided a set of words that indicates racial slurs. Write a program that can indicate the degree of profanity for each sentence in the file. Write in any programming language (preferably in Python)-make any assumptions, but remember to state them.**

In [ ]:
  # for this, I took twitter tweets dataset.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Loading the dataset.
df = pd.read_csv('/content/drive/MyDrive/Tweets.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [ ]:
df.describe()

,textID,text,selected_text,sentiment
count,27481,27480,27480,27481
unique,27481,27480,22463,3
top,cb774db0d1,"I`d have responded, if I were going",good,neutral
freq,1,1,199,11118

In [ ]:
# Number of rows and columns.
df.shape

(27481, 4)

In [ ]:
# First 10 rows.
df["text"].head(10)

0                  I`d have responded, if I were going
1        Sooo SAD I will miss you here in San Diego!!!
2                            my boss is bullying me...
3                       what interview! leave me alone
4     Sons of ****, why couldn`t they put them on t...
5    http://www.dothebouncy.com/smf - some shameles...
6    2am feedings for the baby are fun when he is a...
7                                           Soooo high
8                                          Both of you
9     Journey!? Wow... u just became cooler.  hehe....
Name: text, dtype: object

In [ ]:
# From this I took sentiment column to pick racial slurs.
t = df[df['sentiment']=='negative']['text']
t.head(20)

1         Sooo SAD I will miss you here in San Diego!!!
2                             my boss is bullying me...
3                        what interview! leave me alone
4      Sons of ****, why couldn`t they put them on t...
12         My Sharpie is running DANGERously low on ink
13    i want to go to music tonight but i lost my vo...
15                                Uh oh, I am sunburned
16     S`ok, trying to plot alternatives as we speak...
17    i`ve been sick for the past few days  and thus...
18           is back home now      gonna miss every one
26                                           I`m sorry.
27    On the way to Malaysia...no internet access to...
29    Went to sleep and there is a power cut in Noid...
32     If it is any consolation I got my BMI tested ...
36    Born and raised in NYC and living in Texas for...
38    i`m soooooo sleeeeepy!!! the last day o` schoo...
46    egh blah and boooooooooooo i dunno wanna go to...
48    i donbt like to peel prawns, i also dont like ...
49     which case? I got a new one last week and I`m...
53     it is ****...u have dissappointed me that pas...
Name: text, dtype: object

In [ ]:
# print text based on the some words.
d = pd.DataFrame({ 'text': ['shameless','bullying'],
                  'selected_text':['shameless','bullying']})
df1 = df[df['text'].str.contains('shameless') | df['selected_text'].str.contains('bullying')]
print(df1)

       textID                                               text  \
2  088c60f138                          my boss is bullying me...
5  28b57f3990  http://www.dothebouncy.com/smf - some shameles...

                                       selected_text sentiment
2                                        bullying me  negative
5  http://www.dothebouncy.com/smf - some shameles...   neutral

**2. Which is an interesting data set you discovered recently? Why is it your favorite? No datasets on Kaggle, please.**

In [ ]:
    My favourite dataset is airbnb hotel booking dataset. I am very intrested to cleanse the data.
I took this dataset for cleansing. My motto is to cleanse the data. In this, I did some visualization 
part also.I learnt so many things at the time i did.
    I found so many things in that. That felt me very happy in each and every step of cleansed process.
There are so many columns with missing values,nan values like that.In that, i divided the columns into 
three parts like categorical,numerical and mixed columns. Based on that, i performed the cleansing 
operations.       
    I did some anaysis on basic datasets like titanic,IRIS,Gapminder,etc.

In [ ]:
## below is the link for my analysis on hotel booking dataset.

https://colab.research.google.com/drive/1B7UyGcTc3xEXsBHoYVR4nGmRl_UvytRu#scrollTo=EMQfyC7GUNhT

**3. Why do we need a database? We can store everything in a file, no?**

In [ ]:
      Database is a organized collection of interrelated data.For example, a bank database 
stores data related to customers, transactions and loans. A university database stores data
related to students, courses and faculty.
       On the other hand, a file system is a more unstructured data store for storing arbitary, probably 
unrelated data. The file system is more general, and databases are built on top of the general
data storage services provided by file systems.        
      Database is stored as a file or set of files. Imagine it like a filling cabinet full of
folders. Each folder has many files and each file has paper forms filled by different people.
This is what essentially a database does. It stores and indexes data so we can retrieve it 
whenever required. 
            
            Basic database operations are four. Those are called CRUD operations. 
                           * Create the data 
                           * Read the data 
                           * Update the data 
                           * Delete the data 
                           
Basic database types are SQL, NOSQL, CLOUD, EDGE, TIME SERIES, RELATIONAL DATABASES

In [ ]:
##SORRY to say this mam.
    I dont know about scriptting (unix).If I get chance to work on this, I will definitely learn.
I will try to do anything with my dedicaion.

     Thanks & Regards,
     M. Venkata Sai Tanuja.